<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mazeBaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F784511CF89FC9006FF555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F784691CF89FCA006FF555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F784741CF89FCA006FF555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
